*{
    padding: 0; /* Quita el relleno */
    margin: 0; /* Quita el margen */
    box-sizing: border-box; /* Hace que el ancho y alto sean el total de lo que se le asigna */
    font-family: sans-serif; /* Fuente de letra */
}

body{
    display: flex; /* Hace que el body sea un contenedor flex */
    height: 100vh; /* Altura del body */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    background-image: url(img/fondo.jpg); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del body */
}

.container{
    width: 100%; /* Ancho del contenedor */
    max-width: 650px; /* Ancho máximo del contenedor */
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(23px); /* Efecto de desenfoque */
    padding: 47px; /* Relleno del contenedor */
    margin: 0 28px; /* Margen del contenedor */
    border-radius: 37px; /* Borde redondeado */
    box-shadow: inset 0 25px 50px rgb(0, 0, 0, 0.1);
}

.form-title{
    font-size: 60px; /* Tamaño de la letra */
    font-weight: 600; /* Grosor de la letra */
    text-align: center; /* Alineación del texto */
    padding-bottom: 30px; /* Relleno inferior */
    color: #8f2c24;
    border-bottom: solid 1px white; /* Borde inferior */
}

.main-user-info{
    display: flex; /* Hace que el contenedor sea un contenedor flex */
    flex-wrap: wrap; /* Hace que los elementos se ajusten al tamaño del contenedor */
    justify-content: space-between; /* Alinea los elementos alrededor del contenedor */
    padding: 20px 0;
    
}

.user-input-box:nth-child(2n){
    justify-content: end; /* Alinea los elementos al final del contenedor */
    
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;

}

.user-input-box label{ 
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 42px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    color: #8f2c24;
    font-size: 16px;
    transition: .5s;
}

.gender-title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: white;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    background: #8f2c24;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
}

label span{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: .25s ease;
}

label span:hover{
    background: #d6d6e5;
}

label span::before{
    content: "";
    background-color: #ffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .25s ease;
    box-shadow: inset 0 0 0 2px #8f2c24;
}

input[type="radio"]:checked + label span::before{
    box-shadow: inset 0 0 0 10px #9641c7;
}